@{
    ViewBag.Title = "Oracle数据库状态 - 首页";
}

<h2>Oracle状态监测</h2>

<table class="table table-hover table-condensed">
    <thead>
        <tr><th>#</th><th>应用</th><th>Schema</th><th>状态</th></tr>
    </thead>
    <tbody>
        <tr> <td>1</td> <td><div><a href="~/Oracle/Report">旧OA</a></div><small class="text-info">@@10.32.1.85</small></td> <td>HebbgzdhDB</td> <td><span title="在线" style="font-size:2em" class="glyphicon glyphicon-cloud text-success"></span></td> </tr>
        <tr> <td>2</td> <td><div>测试库</div><small class="text-info">@@192.168.11.101</small></td> <td>xxxx</td> <td><span title="离线" style="font-size:2em" class="glyphicon glyphicon-cloud text-danger"></span></td> </tr>
        <tr> <td>3</td> <td><div>OA生产</div><small class="text-info">@@10.32.1.47</small></td> <td>hebbgzdhdb</td> <td><span title="在线" style="font-size:2em" class="glyphicon glyphicon-cloud text-success"></span></td> </tr>
        <tr> <td>4</td> <td><div>绩效生产</div><small class="text-info">@@10.32.1.131</small></td> <td>admin_performance</td> <td><span title="在线" style="font-size:2em" class="glyphicon glyphicon-cloud text-success"></span></td> </tr>
    </tbody>
</table>